footer
{
	background-color:black; 
	position:absolute;
	width:99%;
	bottom:10px;
}

html,body
{
	margin:0;
	padding:0;
}

.rules:link, .faq:link, .contact:link
{
	color:white;
	margin-left:10px;
}
.rules:hover, .faq:hover, .contact:hover
{
	color:grey;
	margin-left:10px;
}

.Title
{
	margin-left: 25%;
	margin-top:-4.5%;
	font-size:50px;
}

.homeButton
{
	font-size:50px;
	margin-top:2%;
	border-radius: 5px;
	border-style: groove;
	color:black;
}

.ButtonsAuth
{
	text-align: center;
	position:relative;
}

.ButtonsAuth >button
{
	font-size:20px;
	border-style:hidden;
	margin-left:74%;
}

.coButton
{
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position:relative;

}

.regButton
{
	display:inline-block;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	position:relative;
	left:114px;
	top:-24px;

}

.pain
{
	display: block;
  	margin-left: 90%;
  	margin-top:-7%;
}