<html>
    <head>
       <meta charset="utf-8">
        <!-- importer le fichier de style -->
        <link rel="stylesheet" href="stylesProfile.css" media="screen" type="text/css" />
    </head>
    <body>
        <div id="container">
         
        <img class="Pics" src="assets/Images/image0.png" alt="Pics">
        <button class="button" href="/">Edit Pic</button>
        <h2 class="Username">Username</h2>
        <p class="informations">Lechiffre4 </p>
        <button class="button" href="/">Edit Username</button>

        <h2 class="Username">E-mail :</h2>
        <p class="informations">sahelhaouchet@gmail.com </p>
        <button class="button" href="/">Edit Email</button>

        <h2 class="Username">Password:</h2>
        <p class="informations">Aidez_Moi_Aled_Je_Vais_Mourir_Pitie_Pas_Le_Php</p>

        <button class="button" href="/">Edit Password</button>

            
               
            
        </div>
    </body>
</html>